<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
		<string>MovieRecommandIntentsIntent</string>
		<string>MovieRecommandSettingsIntent</string>
		<string>PokemonSettingsIntent</string>
		<string>RandomAnimalSettingsIntent</string>
		<string>RandomMusicSettingsIntent</string>
		<string>RandomPhotoSettingsIntent</string>
		<string>TodayInHistorySettingsIntent</string>
		<string>WeatherSettingsIntent</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
		<key>UIImageName</key>
		<string>LaunchScreenImage</string>
	</dict>
</dict>
</plist>
